{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class=" my-5" style="text-align: center">Group index</h1>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Date de modificatioj</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.dateCreate ? group.dateCreate|date('Y-m-d') : '' }}</td>
                    <td>{{ group.dateUpdate ? group.dateUpdate|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('group_show', {'id': group.id}) }}">Voir</a> /
                        <a href="{{ path('group_edit', {'id': group.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">aucun groupe trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('group_new') }}">Nouveau groupe</a>
    </div>
{% endblock %}
